/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Ubuntu&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #1b1924;
    /*font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;*/
}

.hide {
    top: -400px;
}

.show {
    opacity: 1;
}


/*
** Navigation Bar
*/

.navbar {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;

    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: right;
    opacity: 0;
    
    animation: moveDown 5s forwards;
    animation-direction: normal;
    animation-delay: 1.3s;
    -webkit-animation: moveDown 5s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 1.3s;
    -o-animation: moveDown 5s forwards;
    -o-animation-direction: normal;
    -o-animation-delay: 1.3s;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar ul li:not(:last-child) {
    padding-right: 25px;
}

.navbar ul li:not(:last-child)::after {
    content: "|";
    color: #606060;
    padding-left: 25px;
}

.navbar ul li a {
    color: #9a9a9a;
    text-decoration: none;
    position: relative;
}

.navbar ul li a:hover {
    color: #606060;
}

.backToTop {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: x-large;
    background-color: #eee;
    -webkit-box-shadow: 0px 3px 5px #606060;
            box-shadow: 0px 3px 5px #606060;
    opacity: 0;
    -webkit-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
    transition: ease-in 0.5s;
    display: none;
    z-index: 10;
}

.backToTop a {
    color: #606060;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}



/*
** Blocks
*/

.block {
    /* border: 1px solid #000; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.block {
    border-bottom: 1px solid #606060;
    margin: 0px 150px;
}

.block-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 60px 80px;
}

.block-heading {
    font-size: xx-large;
    color: #606060;
    margin-bottom: 40px;

}

.block-desc {
    width: 650px;
    font-size: small;
    color: #9a9a9a;
    text-align: center;
    line-height: 20px;
    margin-bottom: 40px;
}

.block-desc a {
    color: #606060;
}



/*
** Blocks - Portfolio
*/

.block-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.block-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.block-row:not(:last-child) {
    margin-bottom: 30px;
}

.block-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    border-radius: 15px;
}

.block-column:not(:last-child) {
    margin-right: 50px;
}

.block-img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.block-img img {
    border-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 250px;
}

.block-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.block-filter:hover {
    opacity: 1;
}

.block-filter:hover :only-child {
    animation: moveRight 1s forwards;
}

.block-btn {
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #9a9a9a;
    cursor: pointer;
    font-size: large;
    color: #9a9a9a;
}

.block-btn:hover {
    text-decoration: underline;
}

.block-btn:focus {
    box-shadow: none;
    outline: none;
}

.block-modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.block-modal-content {
    background-color: #fefefe;
    margin: 25px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.block-modal-img {
    flex: 1;
}

.block-modal-img img {
    width: 100%;
    object-fit: contain;
}

.block-modal-desc {
    flex: 1;
    padding: 30px;
    color: #606060;
}

.block-modal-heading {
    font-size: larger;
}

.block-modal-line {
    width: 30px;
    height: 5px;
    background-color: #606060;
    margin-top: 20px;
    margin-bottom: 30px;
}

.block-modal-par {
    font-size: small;
    line-height: 25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




/*
** Blocks - Home
*/

#home.block {
    height: 100vh;
}

#home .block-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#home .block-heading span {
    margin-left: 3px;
    text-align: center;
}

#home .block-title {
    color: #606060;
    font-size: xx-large;
    margin-bottom: 80px;
}

#home .block-text {
    color: #9a9a9a;
    margin-bottom: 20px;
    position: relative;
    left: -500px;
    opacity: 0;
}

#home .block-button-round {
    color: #606060;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    right: -500px;
    opacity: 0;
}

#home .block-button-round i {
    color: #606060;
    width: 100%;
    height: 100%;
}

#home .block-button-round:hover{
    background-color: #9a9a9a;
    color: #eee;
}



/*
** Blocks - About (Bars)
*/

.block-bars {
    width: 650px;
    margin-bottom: 40px;
}

.block-bars-title {
    padding-bottom: 5px;
    font-size: x-large;
    color: #606060;
}

.block-bars-underline {
    width: 60px;
    border-bottom: 3px solid #606060;
}

.bars {
    margin-top: 20px;
}

.bar-group {
    height: 25px;
    width: 100%;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.bar-color {
    height: 25px;
    background-color: aquamarine;
}

.bar-name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    color: #a8a8a8;
    left: 5px;
    font-size: small;
}

.bar-percentage{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    right: 0px;
    color: #9a9a9a;
    left: 5px;
    font-size: small;
}



/*
** Blocks - Experience
*/

.block-timeline {
    position: relative;
}

.block-timeline::before {
    content: '';
    background: aquamarine;
    width: 3px;
    height: 95%;
    position: absolute;
    left: 0%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.block-timeline-item {
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.block-timeline-bullet {
	width: 20px;
	height: 20px;
	background: aquamarine;
	border-radius: 50%;
	position: absolute;
	left: 0%;
	margin-top: 10px;
	margin-left: -10px;
}

.block-exp {
    width: 350px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.exp-heading {
    padding: 10px;
    font-size: 14px;
}

.exp-line {
    height: 3px;
    width: 30px;
    margin-left: 10px;
    background-color: aquamarine;
}

.exp-subheading {
    padding: 5px 10px;
    font-size: 13px;
}

.exp-time {
    padding: 10px 10px;
    font-size: 12px;
}



/*
** Blocks - Contact
*/

.block-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
}

.block-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9a9a9a
}

.block-icon {
    width: 40px;
    font-size: x-large;
    text-align: center;
}

.block-icon-small {
    width: 40px;
    font-size: large;
    text-align: center;
}

.block-value {
    font-size: 14px;
    color: #737373;
    text-decoration: none;
    cursor: pointer;
}

.block-value:hover {
    text-decoration: underline;
}



/*
** Footer
*/

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    color: #606060;
    font-size: small;
}



/*
** Responsive
*/

@media only screen and (max-width: 800px) {
    .navbar {
        display: none;
    }

    .block {
        margin: 0px 20px;
    }

    .block-container {
        margin: 40px 0px;
    }

    .block-desc, .block-bars {
        width: 500px;
    }
}

@media only screen and (max-width: 700px) {
    .blinking {
        display: none;
    }

    .block-desc, .block-bars {
        width: 400px;
    }
}

/* @media only screen and (max-width: 600px) {
    #home .block-text {
        left: 0px;
        opacity: 1;
    }
    
    #home .block-button-round {
        right: 0px;
        opacity: 1;
    }
} */

@media only screen and (max-width: 500px) {
    .block-desc, .block-bars {
        width: 300px;
    }

    .block-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0px 20px;
    }

    .block-column:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .block-exp {
        width: 300px;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .block-value {
        font-size: 12px;
    }
}



/*
** Bar Animation
*/

.moveTo90 {
    animation: moveTo90 3s forwards;
    animation-direction: normal;
    animation-play-state: paused;
    -webkit-animation: moveTo90 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: paused;
    -o-animation: moveTo90 3s forwards;
    -o-animation-direction: normal;
    -o-animation-play-state: paused;
}

.moveTo80 {
    animation: moveTo80 3s forwards;
    animation-direction: normal;
    animation-play-state: paused;
    -webkit-animation: moveTo80 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: paused;
    -o-animation: moveTo80 3s forwards;
    -o-animation-direction: normal;
    -o-animation-play-state: paused;
}

.moveTo75 {
    animation: moveTo75 3s forwards;
    animation-direction: normal;
    animation-play-state: paused;
    -webkit-animation: moveTo75 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: paused;
    -o-animation: moveTo75 3s forwards;
    -o-animation-direction: normal;
    -o-animation-play-state: paused;
}

.moveTo70 {
    animation: moveTo70 3s forwards;
    animation-direction: normal;
    animation-play-state: paused;
    -webkit-animation: moveTo70 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: paused;
    -o-animation: moveTo70 3s forwards;
    -o-animation-direction: normal;
    -o-animation-play-state: paused;
}

.moveTo65 {
    animation: moveTo65 3s forwards;
    animation-direction: normal;
    animation-play-state: paused;
    -webkit-animation: moveTo65 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: paused;
    -o-animation: moveTo65 3s forwards;
    -o-animation-direction: normal;
    -o-animation-play-state: paused;
}

.moveTo60 {
    animation: moveTo60 3s forwards;
    animation-direction: normal;
    animation-play-state: paused;
    -webkit-animation: moveTo60 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: paused;
    -o-animation: moveTo60 3s forwards;
    -o-animation-direction: normal;
    -o-animation-play-state: paused;
}

.moveTo50 {
    animation: moveTo50 3s forwards;
    animation-direction: normal;
    animation-play-state: paused;
    -webkit-animation: moveTo50 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: paused;
    -o-animation: moveTo50 3s forwards;
    -o-animation-direction: normal;
    -o-animation-play-state: paused;
}

@-webkit-keyframes moveTo90 {
    0% { width: 1% }
    100% { width: 90% }
}
@keyframes moveTo90 {
    0% { width: 1% }
    100% { width: 90% }
}

@-webkit-keyframes moveTo80 {
    0% { width: 1% }
    100% { width: 80% }
}
@keyframes moveTo80 {
    0% { width: 1% }
    100% { width: 80% }
}

@-webkit-keyframes moveTo75 {
    0% { width: 1% }
    100% { width: 75% }
}
@keyframes moveTo75 {
    0% { width: 1% }
    100% { width: 75% }
}

@-webkit-keyframes moveTo70 {
    0% { width: 1% }
    100% { width: 70% }
}
@keyframes moveTo70 {
    0% { width: 1% }
    100% { width: 70% }
}

@-webkit-keyframes moveTo65 {
    0% { width: 1% }
    100% { width: 65% }
}
@keyframes moveTo65 {
    0% { width: 1% }
    100% { width: 65% }
}

@-webkit-keyframes moveTo60 {
    0% { width: 1% }
    100% { width: 60% }
}
@keyframes moveTo60 {
    0% { width: 1% }
    100% { width: 60% }
}

@-webkit-keyframes moveTo50 {
    0% { width: 1% }
    100% { width: 50% }
}
@keyframes moveTo50 {
    0% { width: 1% }
    100% { width: 50% }
}




/*
** Animations
*/

@-webkit-keyframes moveDown {
    0% { top: -500px; opacity: 0; }
    80% { top: 50px; opacity: 0.8; }
    100% { top: 0px; opacity: 1; }
}

@keyframes moveDown {
    0% { top: -500px; opacity: 0; }
    80% { top: 50px; opacity: 0.8; }
    100% { top: 0px; opacity: 1; }
}

.moveLeft {
    animation: moveLeft 3s forwards;
    animation-direction: normal;
    animation-delay: 1.8s;
    -webkit-animation: moveLeft 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 1.8s;
    -o-animation: moveLeft 3s forwards;
    -o-animation-direction: normal;
    -o-animation-delay: 1.8s;
}

@-webkit-keyframes moveLeft {
    0% { right: -500px; opacity: 0; }
    100% { right: 0px; opacity: 1; }
}

@keyframes moveLeft {
    0% { right: -500px; opacity: 0; }
    100% { right: 0px; opacity: 1; }
}

.moveRight {
    animation: moveRight 3s forwards;
    animation-direction: normal;
    animation-delay: 1.8s;
    -webkit-animation: moveRight 3s forwards;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 1.8s;
    -o-animation: moveRight 3s forwards;
    -o-animation-direction: normal;
    -o-animation-delay: 1.8s;
}

@-webkit-keyframes moveRight {
    0% { left: -500px; opacity: 0; }
    100% { left: 0px; opacity: 1; }
}

@keyframes moveRight {
    0% { left: -500px; opacity: 0; }
    100% { left: 0px; opacity: 1; }
}

.blinking {
    animation: blinking 0.8s infinite;
    -webkit-animation: blinking 0.8s infinite;
    -o-animation: blinking 0.8s infinite;
}

@-webkit-keyframes blinking {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blinking {
    0% { opacity: 0; }
    100% { opacity: 1; }
}